[Unit]
Description=reading from CAN looking for telemetry messages

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=/home/ubuntu/vcan.sh
ExecStart=/home/ubuntu/gps_logger/can_listener /home/ubuntu/gps-system/gps_reader /home/ubuntu/gps-system/logs/
Restart=always
